<!DOCTYPE html>
<html>
  <head>
    <title>UDOO</title>
    <%= csrf_meta_tags %>
    <!-- to use css responsive with phones -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- to use font-awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= render "shared/header" %>
    <div class="body">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
