<!DOCTYPE html>
<html>
  <head>
    <title>UDOO Bot</title>
    <%= csrf_meta_tags %>
    <!-- to use css responsive with phones -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <%= stylesheet_link_tag 'font-awesome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'jquery.easy-pie-chart', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'jquery.gritter', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap-responsive.min', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'fullcalendar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'matrix-style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'matrix-media', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="body">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
